@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 222 28% 10%; /* slate-900 */
  --foreground: 220 14% 96%; /* slate-100 */
  --card: 217 19% 27%; /* slate-800 */
  --card-foreground: 220 14% 96%;
  --popover: 217 19% 27%;
  --popover-foreground: 220 14% 96%;
  --primary: 210 6% 60%; /* gray-500 */
  --primary-foreground: 220 14% 96%;
  --secondary: 214 11% 38%; /* silver */
  --secondary-foreground: 220 14% 96%;
  --muted: 215 16% 23%; /* slate-700 */
  --muted-foreground: 220 14% 96%;
  --accent: 220 14% 96%; /* slate-100 */
  --accent-foreground: 217 19% 27%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 220 14% 96%;
  --border: 215 16% 23%;
  --input: 215 16% 23%;
  --ring: 210 6% 60%;
  --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 94.1%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* Force dark theme globally */
  transition: background 0.3s, color 0.3s;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
